:root{
    --primary-color: #cc0000;
    --secondary-color: #7c0000;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}