:root{
    --primary-color: #cc0000;
    --secondary-color: #7c0000;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}

.content{
    flex: 1 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.app-header {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
}

.app-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin-bottom: 16px;
}

.app-header .logo {
    width: 170px;
}

.app-header input[type="text"] {
    padding: 7px;
    width: 300px;
    border-radius: 3px;
    border: 0;
}

.subheader {
    background-color: var(--secondary-color);
    color: white;
    box-shadow: 3px 3px 10px #888;
    margin: 0 auto 16px auto;
    width: 90%;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.subheader p {
    margin: 4px;
}

.subheader img {
    width: 40px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.grid .item{
    display: flex;
    flex-direction: column;
    border: 1px #ccc solid;
    padding: 10px;
    box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4{
  margin-bottom: 5px;
}

.grid .item p {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.grid .item img{
    width: 30px;
    align-self: flex-end;

}

.app-footer{
    flex-shrink: 0;
    background: #f4f4f4;
    color: #444;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.app-footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer ul li i{
    font-size: 22px;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .item img{
        width: 60px;
    }
}